{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} {{ request.user.first_name }}'s Home {% endblock %}

{% block content %} 

<link href="{% static 'css/student/basic.css' %}" rel="stylesheet">

<div class="menu-container">
	<div class="title">
		<h3> Welcome back {{ request.user.first_name }}  {{ request.user.last_name }}! </h3>
		<h1></h1>
		<img src="{% static 'images/planet-earth.png' %}" alt= "" style= "width:500px; height:400px;" align="middle">
		<style>
		h3 {
			text-shadow: 3px 3px #1C2833; 

		}
		</style>
	</div>
</div>

{% endblock %}