{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} Home {% endblock %}

{% block content %} 

<link href="{% static 'css/hamath/register.css' %}" rel="stylesheet">
<link href="{% static 'css/hamath/register-header.css' %}" rel="stylesheet">
<link href="{% static 'css/hamath/register-body.css' %}" rel="stylesheet">

<div class="register-container">
   
    <table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #FFFFFF;color:#000000; width:350px;" cellpadding="3" cellspacing="3">
        <tr>
            <th>
                <h3>Login</h3>
            </th>
        </tr>
    <div class="register-form">
        <form action="" method="post">
            {% csrf_token %}
            <table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #FFFFFF;color:#000000; width:100px;" cellpadding="3" cellspacing="3">
                <div class="spacer"></div>
                <tr>
                    <td>
                        <div class="register_div">
                            {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
                            <p>{{ form.username }}</p>
                            <p><label for="username"{% if form.username.errors %} class="error"{% endif %}></label></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> 
                        <div class="register_div">
                            {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
                            <p>{{ form.password }}</p>
                            <p><label for="password"{% if form.password.errors %} class="error"{% endif %}></label></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                         <div class="submit">
                            <p><input class="btn btn-primary" type="submit" value="Login" alt="register"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                         <div class="to-signup">
                            <a href="{% url 'hamath.views.SignUp' %}" class="btn btn-success">Create a new account</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}