{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} Master Mode {% endblock %}

{% block content %}

<link href="{% static 'css/game/core.css' %}" rel="stylesheet"> <!-- Found at https://github.com/dwmkerr/html5base-->
<link href="{% static 'css/game/typeography.css' %}" rel="stylesheet"> <!-- Styling needed for a fullscreen canvas and no scrollbars.  -->
<link href="{% static 'css/game/basic.css' %}" rel="stylesheet"> <!-- Here's where we'll put the Game styles -->
<audio id ="day57" src = "/static/music/day57.mp3" loop ="loop"></audio>
<script>window.onload = function() {
	document.getElementById("day57").play();
	document.getElementById("day57").volume = 0.2;
}</script>

<div style="position: relative; top: 50px; left: 0px; color: white; font-size: 35px;">
	<h4 id="mode">Master Mode</h4>
</div>


<!-- Here's the background div -->
<div id="BG"></div>
<!-- Here's the game container div-->
<div id="gamecontainer">
	<canvas id="gameCanvas"></canvas>
	<div class="planet-earth">
	    <img src= "{% static 'images/planet-earth.png' %}" alt="planet-earth" style="width:626px;height:626px;">
	</div>

	<div class="solution">
		<input type="text" name="solutionInput" id="solutionInput"><br>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/game/BG.js' %}"></script> <!-- Activating the background script -->
<script type="text/javascript" src="{% static 'js/game/game.js' %}"></script> <!-- Activating the game engine script -->
<script type="text/javascript" src="{% static 'js/game/layout.js' %}"></script> <!-- js for canvas layout -->

<script>
	$('div').click(function() {
    	$(this).find('input').focus();
	});
</script>

{% endblock %}
